.main{
    width: 80%;
    height: 30rem;
   /* background-color: rgb(236, 9, 9);*/
    margin: auto;

   /* display: flex;
    overflow-x: scroll;*/

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.main .lass{
    min-width: 100%;
    height: 29rem;

    /*display: flex;
    align-items: center;
    justify-content: center;*/

    scroll-snap-align: center;
}

/*.main #first{
   background-color: aquamarine;
   text-align: center;
   
} */

.main .lass img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.main .lass p{
    font-size: 1rem;
}

/* .main #second{
   background-color: rgb(255, 178, 127);
  text-align: center;
}*/

/* .main #third{
  background-color: rgb(136, 127, 255);
  text-align: center;
}*/